<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">

</head>
<body>
<header th:replace="fragments/fragment :: navigation">

</header>
<main class="p-5 align-content-center bg-blur   my-register-div my-main"
      style=" background-image: url('/images/background.jpg'); ">


    <h1 class=" align-items-center">Add Forum</h1>


    <div class="d-flex justify-content-center" style=" background-color: rgba(0, 0, 0, 0.6);">

        <div class="row g-3 align-items-center">

            <form th:action="@{/forums/add}" method="POST" th:object="${forumCreateBindingModel}">

                <div>
                    <div class="col-auto">
                        <label for="inputname" class="col-form-label text-light">Name</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="name"
                               th:value="*{name}"
                               th:errorclass="is-invalid"
                               placeholder="Write your question"
                               id="inputname" class="form-control"
                               aria-describedby="nameHelpInline">
                        <small id="nameError"
                               class="invalid-feedback text-light form-text bg-danger rounded">Name  must be
                            between 5  and 20 characters!</small>

                        <small th:if="${nameExist}"
                               class="invalid-feedback text-light form-text bg-danger rounded">Name is already.</small>



                    </div>
                </div>

                <div class="form-group">
                    <label for="inputdescription" class="text-light">Description</label>
                    <textarea type="text" name="description" th:value="*{description}" class="form-control" id="inputdescription" rows="3"></textarea>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Add</button>
                </div>

            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/fragment :: footer">

</footer>
</body>
</html>
