<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">

</head>
<body>
<header th:replace="fragments/fragment :: navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main" style=" background-image: url('/images/background.jpg'); ">
    <h1 class=" align-items-center">Forums</h1>
    <a type="button" th:href="@{/forums/add}" class="btn btn-secondary btn-lg">Add Forum</a>

    <div class="d-flex justify-content-center" style=" background-color: rgba(0, 0, 0, 0.6);">


        <div class="form-visit">

            <div class="card  my-card" th:each="a : ${forums}" th:object="${a}">
                <h2 class="card-header" th:text="*{name}"></h2>
                <div class="card-body">
                    <p th:text="|*{creator}    Created: *{releaseDate}|" class="card-text"></p>
                    <a th:href="@{/forums/comment/{id}(id = *{id})}" class="btn btn-primary">See comments</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
