<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment :: head">

</head>
<body>
<header th:replace="fragments/fragment :: navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main" style=" background-image: url('/images/background.jpg'); ">

    <h1 class=" align-items-center">Ups... we could not find the requested resource!!!</h1>

</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
