<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment :: head">

</head>
<body>
<header th:replace="fragments/fragment :: navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main" style=" background-image: url('/images/background.jpg'); ">

    <h1 class=" align-items-center">Forum</h1>

    <div class="d-flex justify-content-center" style=" background-color: rgba(0, 0, 0, 0.6);">


        <div class="form-visit">

            <div class="card  my-card" th:object="${forum}">
                <h2 class="card-header border-bottom" th:text="*{name}"></h2>
                <img src="/images/user.jpg" width="40px" alt="dental">
                <p th:text="|*{creator}:  *{releaseDate}|" class="card-text"></p>
                <div class="card-body">
                 <p th:text="*{description}" class="border-bottom"></p>
                </div>

                <form th:action="@{/forums/comment/{id}(id = ${id})}" method="POST"
                      th:object="${createForumCommentBindingModel}">

                    <div>
                        <div class="row-auto">
                            <label for="inputComment" class="col-form-label text-light">Comment</label>
                        </div>
                        <div class="row-auto">
                            <input type="text" name="comment"
                                   th:value="*{comment}"
                                   th:errorclass="is-invalid"
                                   placeholder="Your comment"
                                   id="inputComment" class="form-control"
                                   aria-describedby="commentHelpInline">
                            <small id="commentError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">Comment length must
                                be more than 5 character</small>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-primary btn-block w-50" type="submit">Add</button>
                    </div>

                </form>

                <div class="form-visit">
                    <div class="card  my-card" th:each="a : ${comments}" th:object="${a}">
                        <img src="/images/user.jpg" width="40px" alt="dental">
                        <p th:text="|*{creator}:   *{releaseDate}|" class="card-text"></p>
                        <div class="card-body">
                            <h5 class="card-header" th:text="*{comment}"></h5>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
