<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>
<body>

<header th:replace="fragments/fragment :: navigation">
</header>

<main class="p-5 align-content-center my-main bg-image card shadow-1-strong"
style="
background-image: url('/images/background.jpg');
    ">
    <h1 class="text-dark  pl-2">Welcome to</h1>
    <h1 class="text-dark  pl-2">ITDent!</h1>
    <div class="d-flex justify-content-center">
    </div>












</main>


<footer th:replace="fragments/fragment :: footer">

</footer>
</body>
</html>
