<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">

</head>
<body>
<header th:replace="fragments/fragment :: navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main" style=" background-image: url('/images/background.jpg'); ">

    <h1 class=" align-items-center">My Clinics</h1>

    <div class="d-flex justify-content-center" style=" background-color: rgba(0, 0, 0, 0.6);">

        <div class="col  card-my">
            <div th:each="a : ${clinics}" th:object="${a}" class="card mb-4 box-shadow">
                <img th:src="*{imageUrl}" class="card-img-top" alt="Thumbnail [100x225]"
                     data-holder-rendered="true"
                     style="height: 300px; width: 450px; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p th:text="|Name: *{name}|" class="card-text border-bottom "></p>
                        <p th:text="|Type: *{type}|" class="card-text border-bottom "></p>
                        <p th:text="|City: *{city}|" class="card-text border-bottom "></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" th:href="@{/clinics/details/{id}(id = *{id})}"  class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>

                        <div class="btn-group" >
                            <a type="button" th:href="@{/clinics/delete/{id}(id = *{id})}"  class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>

                        <div class="btn-group" >
                            <a type="button" th:href="@{/staffs/add}"  class="btn btn-sm btn-outline-secondary">Add staff</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
